body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.main {
  background-color: rgb(31, 30, 30);
  min-height: 100vh;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  color: white;
}
section h2 {
  text-align: center;
}

.post {
  border:2px solid white;
  border-radius: 10px;
  margin: 15px auto;
  padding: 15px;
  
}
.post h3{
  font-size: 30px;
  margin:13px auto
}
